@import url();
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}


/* NAV */
.logo {
    width: 80px;
    height: 80px;
    border-radius: 100px;
    background-color: red;
    text-align: center;
}

.navButton {
    cursor: pointer;
    margin-left: 20px;
    color:'black'
}

.search {
    box-shadow: none !important;
}
.search:focus {
    border-color: rgba(255, 0, 0, 0.2);
}

.grow {
    flex-grow: 0 !important;
}

/* PRODUCTOS */

.productoTitle {
    font-size: 2rem;
    text-align: center;
    color: #d76400
}


.sidebar-social a span {
    color: black;
    font-size: 15px;
    padding: 5px 0 10px 0;
    display: block;
    text-transform: uppercase;
    font-family: 'Montserrat';
    letter-spacing: 1px;
  }
  /* CSS para posicionar el bade cerca del carrito*/
  .cart {
    position: relative;
    color:'red'
  }
  
  #cart {
    display: block;
    position: absolute;
    top: 0;
    left: 55%;
    background: red;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 2px;
  }

  .hidden {
      display: none !important;
  }